*,
::after,
::before {
    box-sizing: border-box
}

.animate {
    visibility: hidden
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    font-size: var(--font)
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body.loading * {
    transition: none!important
}

body.loading .in-chat * {
    transition: none!important
}

body.loading .modal {
    transition: none!important
}

body.noselect * {
    user-select: none
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    color: var(--black)
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--gray)
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit
}

dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 1rem
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: var(--orange);
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: var(--orange);
    text-decoration: none
}

a:not([href]):not([class]) {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none
}

code,
kbd,
pre,
samp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    -ms-overflow-style: scrollbar
}

figure {
    margin: 0 0 1rem
}

img,
picture {
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: auto
}

svg {
    overflow: hidden;
    vertical-align: middle;
    width: 100%
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline: 0
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[role=button] {
    cursor: pointer
}

select {
    word-wrap: normal
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item;
    cursor: pointer
}

template {
    display: none
}

[hidden] {
    display: none!important
}

html {
    box-sizing: border-box;
    -ms-overflow-style: scrollbar
}

*,
::after,
::before {
    box-sizing: inherit
}

:root {
    --input-placeholder: #A2A7B8;
    --border-standart: #CED0D6;
    --border-hover: #686868;
    --border-focus: #A100FF;
    --value-hover: #F5F6FA;
    --input-text: #2E2E2E;
    --transition-fast: 150ms ease-in;
    --transition-standart: 250ms ease-in;
    --tooltype-bg: #000000;
    --input-error: #FE6963;
    --disabled-color: #F5F6FA;
    --hover-main: #e5e7ee;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

:root {
    --input-placeholder: #A2A7B8;
    --border-standart: #CED0D6;
    --border-hover: #686868;
    --border-focus: #A100FF;
    --border-disabled: #e9ebf4;
    --value-hover: #F5F6FA;
    --input-text: #2E2E2E;
    --transition-fast: 150ms ease-in;
    --transition-standart: 250ms ease-in;
    --tooltype-bg: #000000;
    --input-error: #FE6963;
    --disabled-color: #F5F6FA;
    --hover-main: #e5e7ee;
}

.icon-s svg {
    width: 1.4rem;
    height: 1.4rem;
}

.icon-sm svg {
    width: 1.25rem;
    height: 1.25rem;
}

.icon svg path,
.icon svg circle {
    transition-property: stroke, fill;
    will-change: stroke, fill;
}

.button-input {
    border: none;
}

.button-input,
.form-input input,
.form-input .false-input {
    background: transparent;
}

.input-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-content,
.form-input,
.input-tooltype {
    position: relative;
}

.form-input {
    flex: 1 1 auto;
    z-index: 2;
}

.form-input input,
.text-aria textarea,
.form-input .false-input,
.radio-input .form-input {
    padding: 0.9rem 3rem 0.7rem 1rem;
    border: 1px solid var(--border-standart);
    font-weight: 500;
    font-size: 1rem;
}

.input-small .form-input input,
.input-small .text-aria textarea {
    font-size: 0.95rem;
    padding: 0.65rem 2rem 0.45rem 0.7rem;
}

.input-tooltype,
.form-input input:focus~.input-label,
.error.form-input input~.input-label,
.error.form-input textarea~.input-label,
.form-input .false-input:focus~.input-label {
    color: var(--input-text);
}

.form-input .false-input~.input-label {
    pointer-events: none;
}

.form-input .focus,
.form-input input,
.text-aria textarea,
.form-input .false-input {
    transition-property: border-color;
    will-change: border-color;
}

.form-input .focus,
.form-input input,
.tooltype-content,
.form-input .false-input,
.radio-input .form-input {
    border-radius: 0.25rem;
}

.tooltype-content {
    user-select: none;
}

.form-input input:hover,
.text-aria textarea:hover,
.form-input .false-input:hover {
    border-color: var(--border-hover);
}

.form-input .focus,
.form-input input,
.text-aria textarea,
.form-input .false-input {
    width: 100%;
}

.form-input .focus {
    height: 100%;
    top: 0;
    left: 0;
    border: 2px solid;
    z-index: -1;
}

.form-input input:focus,
.text-aria textarea:focus,
.form-input .false-input:focus {
    outline: none;
}

.form-input.error input,
.form-input input:focus,
.form-input .focus,
.text-aria textarea:focus,
.form-input.error input,
.form-input .false-input:focus {
    border-color: transparent;
}

.form-input input:focus~.focus,
.text-aria textarea:focus~.focus,
.form-input .false-input:focus~.focus {
    border-color: var(--border-focus);
}

.form-input.error input~.focus,
.form-input.error textarea~.focus,
.form-input.error .false-input~.focus {
    border-color: var(--input-error);
}

.form-input input:not(:placeholder-shown)~.input-label,
.form-input input:not([value=''])~.input-label,
.form-input input:focus~.input-label,
.text-aria textarea:focus~.input-label,
.form-input .false-input:focus~.input-label {
    transform: translate(-0.2rem, -2.4rem) scale(0.8);
    max-width: 100%;
}

.input-small .form-input input:not(:placeholder-shown)~.input-label,
.input-small .form-input input:not([value=''])~.input-label,
.input-small .form-input input:focus~.input-label,
.input-small .text-aria textarea:focus~.input-label {
    transform: translate(0rem, -2rem) scale(0.8);
    max-width: 100%;
}

.input-small .form-input input:not(:placeholder-shown)~.input-label,
.input-small .form-input input:not([value=''])~.input-label,
.input-small .form-input input:focus~.input-label,
.input-small .text-aria textarea:focus~.input-label {
    transform: translate(0rem, -2rem) scale(0.8);
}

.input-tooltype {
    flex: 0 0 1.5rem;
    margin-left: 0.25rem;
}

.input-label {
    left: 0.5rem;
    left: 1rem;
    background: #fff;
    padding: 0rem 0.4rem 0rem 0.4rem;
    color: var(--input-placeholder);
    transition-property: transform, font-size, color, max-width;
    will-change: transform, font-size, color, max-width;
    transform-origin: left center;
    cursor: text;
    z-index: 3;
    white-space: nowrap;
    max-width: calc(100% - 4rem);
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0.5rem;
    user-select: none;
}

.input-small .input-label {
    font-size: 0.95rem;
    left: 0.5rem;
}

.input-label,
.clear-input,
.tooltype-icon,
.input-icon {
    top: 50%;
    transform: translate(0, -50%);
}

.input-label,
.clear-input,
.tooltype-icon,
.tooltype-content,
.form-input .focus,
.input-icon {
    position: absolute;
}

.tooltype-icon {
    left: 0.25rem;
}

.input-tooltype {
    height: 2rem;
}

.input-tooltype .icon {
    cursor: pointer;
}

.tooltype-content {
    background: var(--tooltype-bg);
    color: white;
    padding: 0.5rem 0.75rem;
    font-size: 0.8rem;
    bottom: 3rem;
    right: 0rem;
    z-index: 4;
    max-width: 18rem;
    width: max-content;
    transform: translate(0, 0.5rem);
    vertical-align: bottom;
    display: inline-block;
    line-height: 1.2;
}

.tooltype-content,
.clear-input,
[data-type="error"],
.error~.input-tooltype [data-type="info"],
.input-label,
.form-input .focus,
.form-input input,
.form-input .false-input,
.icon svg path,
.icon svg circle {
    transition: var(--transition-fast);
}

.tooltype-content,
.clear-input,
[data-type="error"],
.error~.input-tooltype [data-type="info"],
.drag-drop-error .input-tooltype [data-type="info"] {
    transition-property: transform, opacity, visibility;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.error~.input-tooltype [data-type="error"],
.can-clean .clear-input {
    pointer-events: all;
}

[data-type="info"] {
    z-index: 1;
}

[data-type="error"] {
    z-index: 2;
}

[data-type="info"]:hover~[data-content="info"],
.drag-drop-error .input-tooltype [data-type="error"]~[data-content="error"],
[data-type="error"]:hover~[data-content="error"] {
    transform: translate(0, 0);
}

[data-type="info"]:hover~[data-content="info"],
.can-clean .clear-input,
.error~.input-tooltype [data-type="error"],
.drag-drop-error .input-tooltype [data-type="error"],
.drag-drop-error .input-tooltype [data-type="error"]~[data-content="error"],
[data-type="error"]:hover~[data-content="error"] {
    opacity: 1;
    visibility: visible;
}

.error~.input-tooltype [data-type="error"]~[data-content="error"] {
    animation: ShowHideError 2000ms ease-in alternate;
}

@keyframes ShowHideError {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translate(0, 0.5rem);
    }
    10% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0rem);
    }
    90% {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0rem);
    }
    100% {
        opacity: 0;
        visibility: visible;
        transform: translate(0, 0.5rem);
    }
}

[data-type="info"]:hover svg path {
    stroke: var(--border-hover);
}

.clear-input {
    cursor: pointer;
}

.input-icon,
.clear-input {
    right: 1rem;
    right: 0.25rem;
    height: 2.75rem;
    width: 2.75rem;
    padding: 0;
}

.input-small .input-icon {
    height: 2rem;
    width: 2rem;
}

.input-small .input-icon .icon svg {
    width: 1.25rem;
    height: 1.25rem;
}

.clear-input:hover svg circle {
    fill: var(--border-hover);
}

.clear-input:hover svg path {
    stroke: white;
}

.input+.input {
    margin: 1.75rem 0;
}

.input+.radio-input {
    margin-top: 2rem;
}

.input-disabled .form-input input:hover,
.input-disabled .form-input input {
    border-color: var(--border-disabled);
}

.input-disabled .form-input input {
    background: var(--disabled-color);
    cursor: default;
}

.input-disabled .input-label {
    background: transparent;
    max-width: calc(100% - 3ch);
    user-select: none;
    cursor: default;
}

.input-disabled input:not([value=''])~.input-label:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    height: 57%;
    left: 0;
    z-index: -1;
}


/* for-drop-down */

.input-drop .input-icon .icon {
    transition: var(--transition-fast);
    transition-property: transform;
}

.input-drop input {
    cursor: pointer;
    text-overflow: ellipsis;
    user-select: none;
}

.drop-values {
    position: absolute;
    top: 100%;
    width: calc(100% - 1.74rem);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    padding: 0.5rem 0;
    visibility: hidden;
    opacity: 0;
    transform: translate(0, 0.75rem);
    transition: var(--transition-fast);
    transition-property: visibility, opacity, transform;
    z-index: 20;
    background: white;
}

.input-drop .input-label,
.drop-values,
.input-icon {
    user-select: none;
    pointer-events: none;
}

.values-show .input-label,
.input-focused .input-label {
    transform: translate(-0.2rem, -2.4rem) scale(0.8);
    max-width: 100%;
}

.input-small.values-show .input-label {
    transform: translate(0rem, -2rem) scale(0.8);
    max-width: 100%;
}

.values-show .drop-values {
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
    user-select: all;
    pointer-events: all;
}

.input-drop.values-show .input-icon .icon {
    transform: rotate(-180deg);
}

.drop-value {
    padding: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    border-radius: 0.25rem;
    color: var(--input-placeholder);
    transition: var(--transition-fast);
    transition-property: background, color;
    user-select: none;
}

.value-name {
    font-size: 0.95rem;
}

.drop-value:hover {
    background: var(--value-hover);
    color: var(--input-text);
}


/* for-timepicker */

.timepicker-input .drop-values,
.date-input .drop-values,
.datepicker .drop-values {
    width: max-content;
    right: 2.5rem;
}

.time-values {
    display: flex;
}

.time-hours+.time-minutes {
    margin-left: 1rem;
}

.time-hours .time-els,
.time-minutes .time-els {
    display: grid;
    gap: 0.5rem;
}

.time-hours .time-els {
    grid-template-columns: 1fr 1fr;
}

.time-minutes .time-els {
    grid-template-columns: 1fr 1fr 1fr;
}

.time-label,
.time-el {
    user-select: none;
}

.time-label {
    color: var(--input-placeholder);
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.time-el {
    background: var(--disabled-color);
    padding: 0.35rem;
    font-style: normal;
    font-weight: 500;
    border-radius: 0.5rem;
    transition: var(--transition-fast);
    transition-property: background, color;
    border: none;
    cursor: pointer;
}

.time-el:hover {
    background: var(--hover-main);
}

.time-el.selected {
    background: var(--border-focus);
    color: white;
}

.timepicker {
    padding: 0.5rem;
}


/* textarea */

.auto-height.text-aria textarea,
.auto-height,
.auto-height .input-content,
.auto-height .form-input {
    height: 100%;
}

.text-aria textarea {
    background: transparent;
    padding-right: 0.9rem;
    display: flex;
}

.text-aria .input-content {
    align-items: flex-start;
}

.text-aria .form-input.error textarea:hover {
    border-color: transparent;
}

.text-aria .input-tooltype {
    margin-top: 0.75rem;
}

.text-aria .input-label {
    top: 1.75rem;
}

.text-aria.has-value .input-label {
    transform: translate(-0.2rem, -2.4rem) scale(0.8);
}

.text-aria textarea:focus {
    outline: none;
    box-shadow: none;
}

.text-aria .clear-input {
    bottom: 0.5rem;
    top: auto;
    right: -2.2rem;
    transform: translate(0, 0);
    flex: 0 0 2rem;
    width: 2rem;
    height: 2rem;
}

@media(min-width:1024px) {
    .text-aria textarea::-webkit-scrollbar,
    .search-input .drop-value-inner::-webkit-scrollbar,
    .input-drop .drop-value-inner::-webkit-scrollbar {
        width: 7px;
    }
    .text-aria textarea::-webkit-scrollbar-track,
    .search-input .drop-value-inner::-webkit-scrollbar-track,
    .input-drop .drop-value-inner::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    .text-aria textarea::-webkit-scrollbar-thumb,
    .search-input .drop-value-inner::-webkit-scrollbar-thumb,
    .input-drop .drop-value-inner::-webkit-scrollbar-thumb {
        background: #C4C4C4;
        transition: 150ms ease-in;
        border-radius: 10px;
        transition-property: background;
    }
    .text-aria textarea::-webkit-scrollbar-thumb:hover,
    .search-input .drop-value-inner::-webkit-scrollbar-thumb:hover,
    .input-drop .drop-value-inner::-webkit-scrollbar-thumb:hover {
        background: #B3B3B3;
        cursor: default;
    }
}


/* search-input */

.search-input input {
    cursor: text;
}

.search-input .drop-value-inner,
.input-drop .drop-value-inner {
    max-height: 15rem;
    overflow: auto;
    user-select: none;
}

.search-input .value-name {
    color: var(--input-text);
    font-weight: 600;
    font-size: 0.9rem;
}

.search-input .value-role {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.search-input .value-role,
.search-input .value-email,
.search-input .error-value-text {
    font-size: 0.85rem;
}

.search-input .error-value-text {
    color: var(--input-error);
}

.search-input .drop-values {
    padding: 0;
}

.search-input .drop-value:last-child {
    margin-bottom: 0.5rem;
}

.search-input .drop-value:first-child {
    margin-top: 0.5rem;
}

.drop-value.error-value,
.drop-value.error-value:hover {
    background: #fff7f6;
    color: var(--input-placeholder);
    pointer-events: none;
}

.drop-value.error-value:hover .value-role,
.drop-value.error-value:hover .value-email {
    color: var(--input-placeholder);
}

.search-input .drop-value+.drop-value {
    border-top: 1px solid #E9E9E9;
}


/* for-datepicker */

.date-unputs {
    transition: var(--transition-fast);
    transition-property: opacity;
    opacity: 0;
}

.input-focused .date-unputs {
    opacity: 1;
}

.date-unputs,
.date-unputs input {
    display: inline-flex;
    align-items: center;
    border: none;
    padding: 0;
    position: relative;
}

.date-unputs::before {
    content: '';
    position: absolute;
    bottom: -.65rem;
    height: 2px;
    width: 0;
    left: 0;
    background: var(--border-focus);
    transition: var(--transition-fast);
    transition-property: width, left;
    z-index: 11;
}

.first-focus .date-unputs::before {
    width: calc(50% - 1.25rem);
}

.second-focus .date-unputs::before {
    left: calc(50% + 1.25rem);
    width: calc(50% - 1.25rem);
}

.date-unputs input::placeholder {
    font-size: 1rem;
    color: var(--input-placeholder);
}

.date-unputs .icon {
    margin: 0 0.75rem;
}

.datepicker .drop-values {
    right: auto;
    left: 0;
}


/* for radio-input */

.radio-input .radio-group {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}

.radio-input .input-content {
    align-items: flex-start;
}

.label-title {
    color: var(--input-text);
    font-weight: 500;
    line-height: 1.2;
    margin-top: -0.5rem;
    margin-left: -0.4rem;
    background: white;
    padding: 0rem 0.4rem 0rem 0.4rem;
}

.label-l {
    font-size: 0.95rem;
    display: flex;
}

.group-label+.radio-group {
    margin-top: 0.75rem;
}

.radio-input .input-wrapper {
    margin: 0;
    margin-left: -0.25rem;
}

.radio-input .input-wrapper+.input-wrapper {
    margin-top: 0.25rem;
}

.group-label .input-tooltype {
    height: 1.5rem;
}

.radio-input .form-input {
    padding-top: 0;
    padding-right: 0.9rem;
}

.to-faq {
    margin-top: 0.15rem;
    margin-right: 1.15rem;
}

.input-small .drop-values {
    right: 1.75rem;
}

@media screen and (max-width:425px) {
    .date-input .drop-values .calendar-header {
        margin-left: 0;
        margin-right: 0;
    }
}

.container {
    max-width: 25rem;
    margin: 0 auto;
    padding-top: 4rem;
}